github_token    = "your_github_token"
github_owner    = "your_github_org_or_username"
repository_name = "launchplate-react"

# These values will be used to create the repository secrets
slack_webhook_url = "https://hooks.slack.com/services/YOUR_SLACK_WEBHOOK"
aws_role_arn      = "arn:aws:iam:::role/YOUR_GITHUB_ACTIONS_ROLE"

# Cloudflare API tokens for different environments
cloudflare_api_token_prod = "your_prod_token"
cloudflare_api_token_stg  = "your_staging_token"
cloudflare_api_token_dev  = "your_dev_token"
